<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FirstDesktopApplication.Properties.Settings.EMPConnectionString"
            connectionString="Data Source=DESKTOP-HTR7DLD\SQLEXPRESS;Initial Catalog=EMP;Persist Security Info=True;User ID=sa;Password=tiger"
            providerName="System.Data.SqlClient" />
        <add name="FirstDesktopApplication.Properties.Settings.EMPConnectionString1"
            connectionString="Data Source=ECCBCA5\SQLEXPRESS;Initial Catalog=EMP;Persist Security Info=True;User ID=sa;Password=tiger"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
</configuration>
